
<nav class="navbar navbar-expand-xl navbar-light bg-dark ">
  <a class="navbar-brand" href="#">
    <i class="fa fa-medkit text-warning"></i>
    <span class="text-warning"> Medical Platform</span>
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarColor01">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link text-warning" routerLink="/pacient">Pacients </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-warning" routerLink="/asistent">Asistents </a>
      </li>
      <li class="nav-item">
      <a class="nav-link text-warning" routerLink="/feedback">Feedback </a>
      </li>
    </ul>
  </div>
</nav>
