
<div class="card bg-warning" style="border-right:300px solid white;border-left:300px solid white;border-top:60px solid white;">
  <div class="card-body" style="padding: 8px; margin-top: 8px;">
    <div>
      <!-- title -->
      <input type="text"

             class="input-label-lg"
             maxlength="18" style="width: 80%"
      />
      <a class="pull-right text-danger">
        <i class="fa fa-trash-o"></i>
      </a>
    </div>
    <!-- text -->
    <textarea class="input-label"
              style="width: 100%" rows="6"
              ></textarea>
    <strong class="text-info" style="font-size: small"></strong>
  </div>
</div>
